In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel('hn2223_all.filtered.xlsx', index_col=0)

In [2]:
df

,year,region,town_t,apt_t,sex,age,incm,ho_incm,incm5,ho_incm5,...,N_VITE,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_FOLATE,N_VITC,LF_BUYER,LF_SAFE
ID,,,,,,,,,,,,,,,,,,,,,
b'YA01220302',2022,1,1,2,2,56,3.0,4.0,4.0,4.0,...,7.365415,853.187240,383.340000,0.814587,1.182300,10.042185,291.264557,32.441192,NaN,1.0
b'YA01220303',2022,1,1,2,1,30,3.0,4.0,3.0,4.0,...,11.608507,973.767210,732.385000,1.829417,2.017004,18.342991,329.385371,79.903529,NaN,1.0
b'YA01220304',2022,1,1,2,2,25,3.0,4.0,4.0,4.0,...,8.502485,166.686411,0.000000,0.262020,1.379288,3.042505,69.694336,2.776080,1.0,1.0
b'YA01236501',2022,1,1,2,1,66,3.0,3.0,4.0,3.0,...,9.215554,3676.549476,100.898983,1.338621,2.325439,18.325182,633.687278,112.775603,NaN,1.0
b'YA01236502',2022,1,1,2,2,62,3.0,3.0,3.0,3.0,...,9.958553,4789.137129,128.641794,1.317710,2.564474,17.852091,690.090821,121.924030,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b'YR62368101',2023,8,2,1,1,80,2.0,1.0,2.0,1.0,...,4.276879,2158.199974,9.514286,0.652938,1.151994,12.808814,337.352062,26.125158,1.0,1.0
b'YR62368102',2023,8,2,1,2,78,2.0,1.0,3.0,1.0,...,4.021771,2217.551546,42.535857,1.310568,1.151318,14.870108,184.289904,17.537722,1.0,1.0
b'YR62370201',2023,8,2,1,2,61,1.0,1.0,1.0,1.0,...,7.680140,949.749369,219.443462,0.742543,1.677973,10.877976,417.792346,20.586685,1.0,1.0
b'YR62394401',2023,8,2,1,1,57,4.0,4.0,5.0,5.0,...,8.648696,4495.650299,193.857866,0.937317,1.827701,7.649848,433.988024,53.146545,2.0,1.0
b'YR62432901',2023,8,2,1,1,49,3.0,4.0,4.0,4.0,...,10.232882,3437.038826,131.239187,1.016950,2.428429,19.017275,888.811141,33.616615,1.0,1.0

In [3]:
# age 범주화: 19 ~ 64세까지를 '19-64', 65세 이상을 '65+'로 구분
age_group = pd.cut(df['age'], bins=[19, 64, float('inf')], labels=['19-64', '65+'])
pd.crosstab(df['sex'], 
                 age_group, 
                 margins=True,            # 합계 추가
                 margins_name='Total')     # 합계 행/열 이름

age    19-64   65+  Total
sex
1       3287  1557   4844
2       4356  1945   6301
Total   7643  3502  11145

In [4]:
df = df[~df['HE_D3'].isna()]  # nan(결측치) 제외
print(df.shape)
df['HE_D3_label'] = df['HE_D3'].apply(lambda x: 1 if x > 20 else 0)  # 라벨링 비타민D결핍=0, 충분=1
print(df.shape)

(10864, 511)
(10864, 512)

/var/folders/10/l4f_yp1x1j50h0jqw1kpxpm80000gn/T/ipykernel_51435/2353461744.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HE_D3_label'] = df['HE_D3'].apply(lambda x: 1 if x > 20 else 0)  # 라벨링 비타민D결핍=0, 충분=1

In [5]:
# age 범주화: 19 ~ 64세까지를 '19-64', 65세 이상을 '65+'로 구분
age_group = pd.cut(df['age'], bins=[19, 64, float('inf')], labels=['19-64', '65+'])
pd.crosstab(
    [df['sex'], age_group],
    df['HE_D3_label'], 
    margins=True,
    margins_name='Total'
)

HE_D3_label     0     1  Total
sex   age
1     19-64  1555  1645   3200
      65+     469  1029   1498
2     19-64  1797  2427   4224
      65+     472  1386   1858
Total        4293  6487  10780

In [6]:
# 제외할 8개 컬럼
exclude_cols = ['HE_D2', 'HE_D3_3epi', 'HE_D3'] # 혈중 비타민D 변수 HE_D3_label와 직접 관련된 covariates 변수 제거

# X (특정 8개 컬럼 제외한 모든 컬럼)
X = df.drop(columns=exclude_cols + ['HE_D3_label'])

# Y (타겟)
Y = df['HE_D3_label']

In [7]:
Y

ID
b'YA01220302'    1
b'YA01220303'    1
b'YA01220304'    0
b'YA01236501'    0
b'YA01236502'    1
                ..
b'YR62368101'    1
b'YR62368102'    1
b'YR62370201'    1
b'YR62394401'    1
b'YR62432901'    1
Name: HE_D3_label, Length: 10864, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

# 데이터 분할 (stratify는 HE_D3_label 분포가 중요할 때 권장)
X_train, X_test, Y_train, Y_test = train_test_split(
    X, Y, test_size=0.2, random_state=42, stratify=Y
)

# TSV 파일로 저장
X_train.to_csv('X_train.csv', index=True)
X_test.to_csv('X_test.csv', index=True)
Y_train.to_csv('Y_train.csv', index=True)
Y_test.to_csv('Y_test.csv', index=True)

In [9]:
sample_submission = Y_test
sample_submission[:] = 1
sample_submission.to_csv('sample_submission.csv', index=True)